[Desktop Entry]
Version=1.0
Type=Application
Name=Essora Store
Name[ca]=Essora Store
Name[es]=Essora Store
Name[fr]=Essora Store
Name[it]=Essora Store
Name[hu]=Essora Store
Name[ja]=Essora Store
Name[ru]=Essora Store
Name[pt]=Essora Store
Name[zh_CN]=Essora Store
Comment=Package manager for Flatpak, DEB and AppImage
Comment[ca]=Gestor de paquets per a Flatpak, DEB i AppImage
Comment[es]=Gestor de paquetes para Flatpak, DEB y AppImage
Comment[fr]=Gestionnaire de paquets pour Flatpak, DEB et AppImage
Comment[it]=Gestore di pacchetti per Flatpak, DEB e AppImage
Comment[hu]=Csomagkezelő Flatpak, DEB és AppImage számára
Comment[ja]=Flatpak、DEB、AppImage用パッケージマネージャー
Comment[ru]=Менеджер пакетов для Flatpak, DEB и AppImage
Comment[pt]=Gerenciador de pacotes para Flatpak, DEB e AppImage
Comment[zh_CN]=Flatpak、DEB 和 AppImage 软件包管理器
GenericName=Software Store
GenericName[ca]=Botiga de programari
GenericName[es]=Tienda de software
GenericName[fr]=Magasin de logiciels
GenericName[it]=Negozio di software
GenericName[hu]=Szoftver áruház
GenericName[ja]=ソフトウェアストア
GenericName[ru]=Магазин программного обеспечения
GenericName[pt]=Loja de software
GenericName[zh_CN]=软件商店
Exec=essora-store
Icon=/usr/local/essora-store/essora-store.png
Terminal=false
Categories=Settings;DesktopSettings;System;PackageManager;Favorites;
Keywords=store;software;packages;install;flatpak;deb;appimage;
Keywords[ca]=botiga;programari;paquets;instal·lar;flatpak;deb;appimage;
Keywords[es]=tienda;software;paquetes;instalar;flatpak;deb;appimage;
Keywords[fr]=magasin;logiciel;paquets;installer;flatpak;deb;appimage;
Keywords[it]=negozio;software;pacchetti;installare;flatpak;deb;appimage;
Keywords[hu]=áruház;szoftver;csomagok;telepítés;flatpak;deb;appimage;
Keywords[ja]=ストア;ソフトウェア;パッケージ;インストール;flatpak;deb;appimage;
Keywords[ru]=магазин;программы;пакеты;установка;flatpak;deb;appimage;
Keywords[pt]=loja;software;pacotes;instalar;flatpak;deb;appimage;
Keywords[zh_CN]=商店;软件;软件包;安装;flatpak;deb;appimage;
StartupNotify=true
StartupWMClass=essora-store
